In [10]:
import pandas as pd

df = pd.read_json('orders_simple.json', orient="records")
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned
0,1001,5506,2025-11-01 11:15,Israel,Tel Aviv,Fashion,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,1023.13$,Refunded,2,,20,3.5,True
1,1002,1434,2025-11-02 16:15,USA,Chicago,Sports,<b>Nike Shoes</b><br>Running Socks,687.58$,Pending,1,BLACKFRIDAY,62,4.5,False
2,1003,6514,2025-11-03 9:05,USA,New York,Sports,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,554.49$,Pending,10,SUMMER15,69,3.5,False
3,1004,2291,2025-11-04 16:25,Israel,Jerusalem,Home,<b>Nike Shoes</b><br>Running Socks,1064.24$,Paid,4,SUMMER15,23,4.0,False
4,1005,8428,2025-11-05 18:25,France,Lyon,Fashion,<b>AirPods Pro</b><br>Charging Cable,549.02$,Refunded,5,WELCOME10,56,4.0,False

In [30]:
df['total_amount'] = df['total_amount'].replace('$', '')
df = df.astype({"total_amount": "float","shipping_days": "int64","customer_age": "int64"})
df["order_date"] = pd.to_datetime(df["order_date"])
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned
0,1001,5506,2025-11-01 11:15:00,Israel,Tel Aviv,Fashion,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,1023.13,Refunded,2,,20,3.5,True
1,1002,1434,2025-11-02 16:15:00,USA,Chicago,Sports,<b>Nike Shoes</b><br>Running Socks,687.58,Pending,1,BLACKFRIDAY,62,4.5,False
2,1003,6514,2025-11-03 09:05:00,USA,New York,Sports,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,554.49,Pending,10,SUMMER15,69,3.5,False
3,1004,2291,2025-11-04 16:25:00,Israel,Jerusalem,Home,<b>Nike Shoes</b><br>Running Socks,1064.24,Paid,4,SUMMER15,23,4.0,False
4,1005,8428,2025-11-05 18:25:00,France,Lyon,Fashion,<b>AirPods Pro</b><br>Charging Cable,549.02,Refunded,5,WELCOME10,56,4.0,False

In [98]:
# df.replace({"items_html": {"<": "", "</b>": " ","<br>":" "}})
df['items_html'] =df['items_html'].str.replace('<b>', ' ')
df['items_html'] =df['items_html'].str.replace('</b>', ' ')
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month,high_value_order,average_rating,delivery_status
0,1001,5506,2025-11-01 11:15:00,Israel,Tel Aviv,Fashion,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,1023.13,Refunded,2,no_coupon,20,3.5,True,11,True,4.334146,on_time
1,1002,1434,2025-11-02 16:15:00,USA,Chicago,Sports,b>Nike Shoes/b>br>Running Socks,687.58,Pending,1,BLACKFRIDAY,62,4.5,False,11,False,4.237500,on_time
2,1003,6514,2025-11-03 09:05:00,USA,New York,Sports,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,554.49,Pending,10,SUMMER15,69,3.5,False,11,False,4.237500,delayed
3,1004,2291,2025-11-04 16:25:00,Israel,Jerusalem,Home,b>Nike Shoes/b>br>Running Socks,1064.24,Paid,4,SUMMER15,23,4.0,False,11,True,4.334146,on_time
4,1005,8428,2025-11-05 18:25:00,France,Lyon,Fashion,b>AirPods Pro/b>br>Charging Cable,549.02,Refunded,5,WELCOME10,56,4.0,False,11,False,4.183077,on_time

In [97]:
#3
df['coupon_used'] = df['coupon_used'].replace('','no_coupon')

In [57]:
#4
df['order_month']=df['order_date'].dt.month
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month
0,1001,5506,2025-11-01 11:15:00,Israel,Tel Aviv,Fashion,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,1023.13,Refunded,2,,20,3.5,True,11
1,1002,1434,2025-11-02 16:15:00,USA,Chicago,Sports,b>Nike Shoes/b>br>Running Socks,687.58,Pending,1,BLACKFRIDAY,62,4.5,False,11
2,1003,6514,2025-11-03 09:05:00,USA,New York,Sports,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,554.49,Pending,10,SUMMER15,69,3.5,False,11
3,1004,2291,2025-11-04 16:25:00,Israel,Jerusalem,Home,b>Nike Shoes/b>br>Running Socks,1064.24,Paid,4,SUMMER15,23,4.0,False,11
4,1005,8428,2025-11-05 18:25:00,France,Lyon,Fashion,b>AirPods Pro/b>br>Charging Cable,549.02,Refunded,5,WELCOME10,56,4.0,False,11

In [96]:
#5

total = int(df['total_amount'].mean())

df['high_value_order'] = df['total_amount'].apply(lambda x: True if x > total else False)
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month,high_value_order,average_rating,delivery_status
0,1001,5506,2025-11-01 11:15:00,Israel,Tel Aviv,Fashion,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,1023.13,Refunded,2,,20,3.5,True,11,True,4.334146,on_time
1,1002,1434,2025-11-02 16:15:00,USA,Chicago,Sports,b>Nike Shoes/b>br>Running Socks,687.58,Pending,1,BLACKFRIDAY,62,4.5,False,11,False,4.237500,on_time
2,1003,6514,2025-11-03 09:05:00,USA,New York,Sports,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,554.49,Pending,10,SUMMER15,69,3.5,False,11,False,4.237500,delayed
3,1004,2291,2025-11-04 16:25:00,Israel,Jerusalem,Home,b>Nike Shoes/b>br>Running Socks,1064.24,Paid,4,SUMMER15,23,4.0,False,11,True,4.334146,on_time
4,1005,8428,2025-11-05 18:25:00,France,Lyon,Fashion,b>AirPods Pro/b>br>Charging Cable,549.02,Refunded,5,WELCOME10,56,4.0,False,11,False,4.183077,on_time

In [ ]:
#6

df['average_rating']=df.groupby('country')['rating'].transform("mean")
df.head()

In [85]:
#7

filtered = df.query("total_amount > 1000 and rating >4.5")

In [ ]:
#8
filtered['delivery_status'] = df['shipping_days'].apply(lambda x: 'delayed' if x > 7 else 'on_time')
filtered.head()

In [89]:
filtered.to_csv("clean_orders_[ID_NUMBER].csv", index=False, encoding="utf-8-sig")