In [15]:
import pandas as pd

df = pd.read_json('orders_simple.json', orient="records")
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned
0,1001,5506,2025-11-01 11:15,Israel,Tel Aviv,Fashion,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,1023.13$,Refunded,2,,20,3.5,True
1,1002,1434,2025-11-02 16:15,USA,Chicago,Sports,<b>Nike Shoes</b><br>Running Socks,687.58$,Pending,1,BLACKFRIDAY,62,4.5,False
2,1003,6514,2025-11-03 9:05,USA,New York,Sports,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,554.49$,Pending,10,SUMMER15,69,3.5,False
3,1004,2291,2025-11-04 16:25,Israel,Jerusalem,Home,<b>Nike Shoes</b><br>Running Socks,1064.24$,Paid,4,SUMMER15,23,4.0,False
4,1005,8428,2025-11-05 18:25,France,Lyon,Fashion,<b>AirPods Pro</b><br>Charging Cable,549.02$,Refunded,5,WELCOME10,56,4.0,False

In [21]:
df['total_amount'] = df['total_amount'].str.replace('$', '')
df = df.astype({"total_amount": "float","shipping_days": "int64","customer_age": "int64"})
df["order_date"] = pd.to_datetime(df["order_date"])



# df['total_amount'] = df['total_amount'].replace('$', '')
# df = df.astype({"total_amount": "float","shipping_days": "int64","customer_age": "int64"})
# df["order_date"] = pd.to_datetime(df["order_date"])
df.head()

AttributeError: Can only use .str accessor with string values!

In [98]:
# df.replace({"items_html": {"<": "", "</b>": " ","<br>":" "}})
df['items_html'] =df['items_html'].str.replace('<b>', ' ')
df['items_html'] =df['items_html'].str.replace('</b>', ' ')
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month,high_value_order,average_rating,delivery_status
0,1001,5506,2025-11-01 11:15:00,Israel,Tel Aviv,Fashion,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,1023.13,Refunded,2,no_coupon,20,3.5,True,11,True,4.334146,on_time
1,1002,1434,2025-11-02 16:15:00,USA,Chicago,Sports,b>Nike Shoes/b>br>Running Socks,687.58,Pending,1,BLACKFRIDAY,62,4.5,False,11,False,4.237500,on_time
2,1003,6514,2025-11-03 09:05:00,USA,New York,Sports,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,554.49,Pending,10,SUMMER15,69,3.5,False,11,False,4.237500,delayed
3,1004,2291,2025-11-04 16:25:00,Israel,Jerusalem,Home,b>Nike Shoes/b>br>Running Socks,1064.24,Paid,4,SUMMER15,23,4.0,False,11,True,4.334146,on_time
4,1005,8428,2025-11-05 18:25:00,France,Lyon,Fashion,b>AirPods Pro/b>br>Charging Cable,549.02,Refunded,5,WELCOME10,56,4.0,False,11,False,4.183077,on_time

In [97]:
#3
df['coupon_used'] = df['coupon_used'].replace('','no_coupon')

In [57]:
#4
df['order_month']=df['order_date'].dt.month
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month
0,1001,5506,2025-11-01 11:15:00,Israel,Tel Aviv,Fashion,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,1023.13,Refunded,2,,20,3.5,True,11
1,1002,1434,2025-11-02 16:15:00,USA,Chicago,Sports,b>Nike Shoes/b>br>Running Socks,687.58,Pending,1,BLACKFRIDAY,62,4.5,False,11
2,1003,6514,2025-11-03 09:05:00,USA,New York,Sports,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,554.49,Pending,10,SUMMER15,69,3.5,False,11
3,1004,2291,2025-11-04 16:25:00,Israel,Jerusalem,Home,b>Nike Shoes/b>br>Running Socks,1064.24,Paid,4,SUMMER15,23,4.0,False,11
4,1005,8428,2025-11-05 18:25:00,France,Lyon,Fashion,b>AirPods Pro/b>br>Charging Cable,549.02,Refunded,5,WELCOME10,56,4.0,False,11

In [ ]:
#5

average_amount = df['total_amount'].mean()
df['high_value_order'] = df['total_amount'] > average_amount
df = df.sort_values(by='total_amount', ascending=False)
df.head()

# otal = int(df['total_amount'].mean())

# df['high_value_order'] = df['total_amount'].apply(lambda x: True if x > total else False)

TypeError: Could not convert string '1023.13$687.58$554.49$1064.24$549.02$1268.21$235.74$1139.78$1030.52$1266.46$1321.11$998.13$671.20$1069.07$383.42$618.87$678.62$1300.36$305.10$126.07$326.28$941.21$671.32$440.59$30.23$1256.03$1175.67$418.54$998.55$288.39$90.47$1008.67$833.21$996.80$926.63$1173.17$928.66$949.45$589.98$1288.68$348.65$898.04$695.68$355.73$1056.71$1413.67$126.71$1107.35$1131.95$437.50$1194.58$1061.71$1114.44$92.14$674.69$1221.43$475.44$255.89$652.08$1057.11$362.66$1495.49$450.12$104.95$204.10$1421.91$590.79$1260.28$1471.64$211.21$1177.75$955.96$503.45$939.07$133.95$587.51$1169.22$74.21$1249.95$158.20$720.43$91.89$1330.99$1286.79$1185.52$1291.15$282.01$768.16$133.40$1194.82$654.48$890.04$177.81$1271.60$1308.05$484.67$920.44$91.99$758.64$703.14$1206.95$1125.06$241.01$247.66$80.47$917.38$1068.74$122.22$1452.35$775.02$1270.53$1088.74$1449.26$1229.91$427.37$594.60$1144.29$469.20$454.63$1313.16$90.40$79.55$551.54$1045.80$143.10$931.91$124.17$871.53$411.12$1350.55$204.01$612.29$1028.16$500.92$897.92$985.42$132.64$217.88$1419.44$1321.64$906.34$91.73$214.78$91.82$773.29$1200.21$1236.95$1312.41$830.75$492.64$449.25$186.11$1083.10$977.70$1406.50$1280.31$1191.38$729.24$989.18$567.13$1028.50$508.97$782.04$878.01$1159.23$199.98$1239.46$124.25$231.70$468.24$627.18$1452.48$101.02$1407.31$812.13$486.56$865.44$1087.46$1267.75$810.01$1379.12$858.38$964.20$1354.38$890.88$763.67$1180.73$1076.84$555.88$1298.98$421.66$1417.73$518.74$1108.94$1430.68$996.53$1191.31$181.27$1496.61$538.74$' to numeric

In [11]:
#6

df['average_rating']=df.groupby('country')['rating'].transform("mean")
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,average_rating
0,1001,5506,2025-11-01 11:15,Israel,Tel Aviv,Fashion,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,1023.13$,Refunded,2,,20,3.5,True,4.334146
1,1002,1434,2025-11-02 16:15,USA,Chicago,Sports,<b>Nike Shoes</b><br>Running Socks,687.58$,Pending,1,BLACKFRIDAY,62,4.5,False,4.237500
2,1003,6514,2025-11-03 9:05,USA,New York,Sports,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,554.49$,Pending,10,SUMMER15,69,3.5,False,4.237500
3,1004,2291,2025-11-04 16:25,Israel,Jerusalem,Home,<b>Nike Shoes</b><br>Running Socks,1064.24$,Paid,4,SUMMER15,23,4.0,False,4.334146
4,1005,8428,2025-11-05 18:25,France,Lyon,Fashion,<b>AirPods Pro</b><br>Charging Cable,549.02$,Refunded,5,WELCOME10,56,4.0,False,4.183077

In [85]:
#7

filtered = df.query("total_amount > 1000 and rating >4.5")

In [ ]:
#8
filtered['delivery_status'] = df['shipping_days'].apply(lambda x: 'delayed' if x > 7 else 'on_time')
filtered.head()

In [ ]:
filtered.to_csv("clean_orders_[eliezer_yakovson].csv", index=False, encoding="utf-8-sig")