In [1]:
import pandas as pd

df = pd.read_json('orders_simple.json', orient="records")
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned
0,1001,5506,2025-11-01 11:15,Israel,Tel Aviv,Fashion,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,1023.13$,Refunded,2,,20,3.5,True
1,1002,1434,2025-11-02 16:15,USA,Chicago,Sports,<b>Nike Shoes</b><br>Running Socks,687.58$,Pending,1,BLACKFRIDAY,62,4.5,False
2,1003,6514,2025-11-03 9:05,USA,New York,Sports,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,554.49$,Pending,10,SUMMER15,69,3.5,False
3,1004,2291,2025-11-04 16:25,Israel,Jerusalem,Home,<b>Nike Shoes</b><br>Running Socks,1064.24$,Paid,4,SUMMER15,23,4.0,False
4,1005,8428,2025-11-05 18:25,France,Lyon,Fashion,<b>AirPods Pro</b><br>Charging Cable,549.02$,Refunded,5,WELCOME10,56,4.0,False

In [4]:

df['total_amount'] = df['total_amount'].str.replace('$', '', regex=False)
df = df.astype({"total_amount": "float","shipping_days": "int64","customer_age": "int64"})
df["order_date"] = pd.to_datetime(df["order_date"])
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned
0,1001,5506,2025-11-01 11:15:00,Israel,Tel Aviv,Fashion,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,1023.13,Refunded,2,,20,3.5,True
1,1002,1434,2025-11-02 16:15:00,USA,Chicago,Sports,<b>Nike Shoes</b><br>Running Socks,687.58,Pending,1,BLACKFRIDAY,62,4.5,False
2,1003,6514,2025-11-03 09:05:00,USA,New York,Sports,<b>iPhone 14</b><br>Silicone Case<br>Screen Pr...,554.49,Pending,10,SUMMER15,69,3.5,False
3,1004,2291,2025-11-04 16:25:00,Israel,Jerusalem,Home,<b>Nike Shoes</b><br>Running Socks,1064.24,Paid,4,SUMMER15,23,4.0,False
4,1005,8428,2025-11-05 18:25:00,France,Lyon,Fashion,<b>AirPods Pro</b><br>Charging Cable,549.02,Refunded,5,WELCOME10,56,4.0,False

In [5]:

df['items_html'] = df['items_html'].str.replace('<[^<]+?>', ' ', regex=True)
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned
0,1001,5506,2025-11-01 11:15:00,Israel,Tel Aviv,Fashion,iPhone 14 Silicone Case Screen Protector,1023.13,Refunded,2,,20,3.5,True
1,1002,1434,2025-11-02 16:15:00,USA,Chicago,Sports,Nike Shoes Running Socks,687.58,Pending,1,BLACKFRIDAY,62,4.5,False
2,1003,6514,2025-11-03 09:05:00,USA,New York,Sports,iPhone 14 Silicone Case Screen Protector,554.49,Pending,10,SUMMER15,69,3.5,False
3,1004,2291,2025-11-04 16:25:00,Israel,Jerusalem,Home,Nike Shoes Running Socks,1064.24,Paid,4,SUMMER15,23,4.0,False
4,1005,8428,2025-11-05 18:25:00,France,Lyon,Fashion,AirPods Pro Charging Cable,549.02,Refunded,5,WELCOME10,56,4.0,False

In [6]:
#3
df['coupon_used'] = df['coupon_used'].replace('','no coupon').fillna('no coupon')

In [7]:
#4
df['order_month']=df['order_date'].dt.month
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month
0,1001,5506,2025-11-01 11:15:00,Israel,Tel Aviv,Fashion,iPhone 14 Silicone Case Screen Protector,1023.13,Refunded,2,no coupon,20,3.5,True,11
1,1002,1434,2025-11-02 16:15:00,USA,Chicago,Sports,Nike Shoes Running Socks,687.58,Pending,1,BLACKFRIDAY,62,4.5,False,11
2,1003,6514,2025-11-03 09:05:00,USA,New York,Sports,iPhone 14 Silicone Case Screen Protector,554.49,Pending,10,SUMMER15,69,3.5,False,11
3,1004,2291,2025-11-04 16:25:00,Israel,Jerusalem,Home,Nike Shoes Running Socks,1064.24,Paid,4,SUMMER15,23,4.0,False,11
4,1005,8428,2025-11-05 18:25:00,France,Lyon,Fashion,AirPods Pro Charging Cable,549.02,Refunded,5,WELCOME10,56,4.0,False,11

In [10]:
#5

# average_amount = df['total_amount'].mean()
# df['high_value_order'] = df['total_amount'] > average_amount
# df = df.sort_values(by='total_amount', ascending=False)
# df.head()

total = int(df['total_amount'].mean())

df['high_value_order'] = df['total_amount'].apply(lambda x: True if x > total else False)
df = df.sort_values(by='total_amount', ascending=False)
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month,high_value_order
198,1199,7129,2025-11-03 14:35:00,USA,San Francisco,Fashion,AirPods Pro Charging Cable,1496.61,Pending,2,SUMMER15,44,3.5,True,11,True
61,1062,9502,2025-11-06 18:35:00,USA,San Francisco,Home,Nike Shoes Running Socks,1495.49,Pending,8,WELCOME10,48,4.3,False,11,True
68,1069,9903,2025-11-13 14:35:00,Germany,Hamburg,Home,Nike Shoes Running Socks,1471.64,Paid,10,no coupon,32,4.5,True,11,True
171,1172,3365,2025-11-04 20:35:00,USA,San Francisco,Electronics,Blender Recipe Book,1452.48,Refunded,9,BLACKFRIDAY,42,4.0,False,11,True
108,1109,2335,2025-11-25 17:15:00,USA,San Francisco,Home,AirPods Pro Charging Cable,1452.35,Refunded,7,BLACKFRIDAY,56,3.5,False,11,True

In [11]:
#6

df['average_rating']=df.groupby('country')['rating'].transform("mean")
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month,high_value_order,average_rating
198,1199,7129,2025-11-03 14:35:00,USA,San Francisco,Fashion,AirPods Pro Charging Cable,1496.61,Pending,2,SUMMER15,44,3.5,True,11,True,4.237500
61,1062,9502,2025-11-06 18:35:00,USA,San Francisco,Home,Nike Shoes Running Socks,1495.49,Pending,8,WELCOME10,48,4.3,False,11,True,4.237500
68,1069,9903,2025-11-13 14:35:00,Germany,Hamburg,Home,Nike Shoes Running Socks,1471.64,Paid,10,no coupon,32,4.5,True,11,True,4.181481
171,1172,3365,2025-11-04 20:35:00,USA,San Francisco,Electronics,Blender Recipe Book,1452.48,Refunded,9,BLACKFRIDAY,42,4.0,False,11,True,4.237500
108,1109,2335,2025-11-25 17:15:00,USA,San Francisco,Home,AirPods Pro Charging Cable,1452.35,Refunded,7,BLACKFRIDAY,56,3.5,False,11,True,4.237500

In [12]:
#7

filtered = df.query("total_amount > 1000 and rating >4.5")

In [13]:
#8
filtered['delivery_status'] = df['shipping_days'].apply(lambda x: 'delayed' if x > 7 else 'on_time')
filtered.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_21788\3251452893.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['delivery_status'] = df['shipping_days'].apply(lambda x: 'delayed' if x > 7 else 'on_time')

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month,high_value_order,average_rating,delivery_status
112,1113,8355,2025-11-01 11:45:00,Germany,Hamburg,Fashion,AirPods Pro Charging Cable,1449.26,Pending,4,SUMMER15,61,5.0,False,11,True,4.181481,on_time
173,1174,4422,2025-11-06 13:25:00,USA,San Francisco,Electronics,Nike Shoes Running Socks,1407.31,Refunded,2,no coupon,33,5.0,False,11,True,4.237500,on_time
154,1155,3880,2025-11-15 08:35:00,USA,San Francisco,Sports,Nike Shoes Running Socks,1406.50,Pending,1,WELCOME10,37,5.0,False,11,True,4.237500,on_time
180,1181,9228,2025-11-13 19:35:00,Germany,Berlin,Fashion,iPhone 14 Silicone Case Screen Protector,1379.12,Refunded,3,BLACKFRIDAY,30,5.0,False,11,True,4.181481,on_time
139,1140,3610,2025-11-28 15:45:00,Germany,Berlin,Sports,Blender Recipe Book,1321.64,Pending,1,WELCOME10,43,5.0,False,11,True,4.181481,on_time

In [14]:
filtered.to_csv("clean_orders_[eliezer_yakovson].csv", index=False, encoding="utf-8-sig")

In [17]:
df = pd.read_csv("clean_orders_[eliezer_yakovson].csv", encoding="utf-8-sig")
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month,high_value_order,average_rating,delivery_status
0,1113,8355,2025-11-01 11:45:00,Germany,Hamburg,Fashion,AirPods Pro Charging Cable,1449.26,Pending,4,SUMMER15,61,5.0,False,11,True,4.181481,on_time
1,1174,4422,2025-11-06 13:25:00,USA,San Francisco,Electronics,Nike Shoes Running Socks,1407.31,Refunded,2,no coupon,33,5.0,False,11,True,4.237500,on_time
2,1155,3880,2025-11-15 08:35:00,USA,San Francisco,Sports,Nike Shoes Running Socks,1406.50,Pending,1,WELCOME10,37,5.0,False,11,True,4.237500,on_time
3,1181,9228,2025-11-13 19:35:00,Germany,Berlin,Fashion,iPhone 14 Silicone Case Screen Protector,1379.12,Refunded,3,BLACKFRIDAY,30,5.0,False,11,True,4.181481,on_time
4,1140,3610,2025-11-28 15:45:00,Germany,Berlin,Sports,Blender Recipe Book,1321.64,Pending,1,WELCOME10,43,5.0,False,11,True,4.181481,on_time

In [18]:
df = pd.read_csv("clean_orders_[ID_NUMBER].csv", encoding="utf-8-sig")
df.head()

,order_id,customer_id,order_date,country,city,category_main,items_html,total_amount,payment_status,shipping_days,coupon_used,customer_age,rating,is_returned,order_month,high_value_order,average_rating,delivery_status
0,1011,6310,2025-11-11 15:05:00,Israel,Haifa,Electronics,b>AirPods Pro/b>br>Charging Cable,1321.11,Pending,4,WELCOME10,33,5.0,False,11,True,NaN,on_time
1,1036,7547,2025-11-08 11:15:00,France,Lyon,Electronics,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,1173.17,Paid,3,NaN,21,5.0,False,11,True,NaN,on_time
2,1056,2213,2025-11-28 17:05:00,France,Lyon,Fashion,b>Nike Shoes/b>br>Running Socks,1221.43,Pending,2,BLACKFRIDAY,25,5.0,False,11,True,NaN,on_time
3,1068,9318,2025-11-12 12:05:00,France,Lyon,Home,b>AirPods Pro/b>br>Charging Cable,1260.28,Refunded,8,BLACKFRIDAY,46,5.0,False,11,True,NaN,delayed
4,1085,2501,2025-11-01 18:15:00,Israel,Jerusalem,Electronics,b>iPhone 14/b>br>Silicone Casebr>Screen Protector,1185.52,Paid,3,BLACKFRIDAY,22,5.0,False,11,True,NaN,on_time